html, body {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
header > img {
	max-height: 25vh;
    max-width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10vh 0 0;
}
footer {
    margin: 0;    
}
footer p {
    margin: 0 auto;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}
footer p a,
footer p a:active,
footer p a:visited,
footer p a:hover {
    color: #000;
}
footer img {
    max-height: 3rem;
    vertical-align: bottom;
}
h1 {
    font-style: normal;
    font-weight: 700;
	font-size: 7rem;
    text-align: center;
	padding: 10vh 4rem 5vh;
	margin: 0;
}
header h1 {
    padding-top: 5vh;
}
h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
	text-align: center;
	padding-bottom: 10vh;
	margin: 0 auto;
	max-width: 600px;
}
@media (max-width: 1200px) {
    h1 {
        font-size: 5rem;        
    }
}
@media (max-width: 960px) {
    h1 {
        font-size: 4rem;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 3rem;
        padding: 5vh 4rem 3vh;
    }
    h2 {
        margin: 0 15px 0;
        padding-bottom: 15px;
    }
}
a, a:visited, a:active {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
.red {
	color: #fff;
	background-color: #f44336;
}
.pink {
	color: #fff;
	background-color: #e91e63;
}
.purple {
	color: #fff;
	background-color: #9c27b0;
}
.deep-purple {
	color: #fff;
	background-color: #673ab7;
}
.indigo {
	color: #fff;
	background-color: #3f51b5;
}
.blue {
	color: #fff;
	background-color: #2196F3;
}
.light-blue {
	color: #fff;
	background-color: #03a9f4;
}
.cyan {
	color: #fff;
	background-color: #00bcd4;
}
.teal {
	color: #fff;
	background-color: #009688;
}
.green {
	color: #fff;
	background-color: #4caf50;
}
.light-green {
	color: #fff;
	background-color: #8bc34a;
}
.lime {
	color: #000;
	background-color: #cddc39;
}
.yellow {
	color: #000;
	background-color: #ffeb3b;
}
.amber {
	color: #000;
	background-color: #ffc107;
}
.orange {
	color: #000;
	background-color: #ff9800;
}
.deep-orange {
	color: #fff;
	background-color: #ff5722;
}
.brown {
	color: #fff;
	background-color: #795548;
}
.grey {
	color: #000;
	background-color: #9e9e9e;
}
.blue-grey {
	color: #fff;
	background-color: #607d8b;
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 100;
  src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(//fonts.gstatic.com/s/robotodraft/v1/hope9NW9iJ5hh8P5PM_EAyeJLMOzE6CCkidNEpZOseY.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(//fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni4bN6UDyHWBl620a-IRfuBk.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwSqHEX2q--o2so14pIEl08w.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 900;
  src: local('RobotoDraft Black'), local('RobotoDraft-Black'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwUExzZ44ka2Lr5i-x5aWr0E.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(//fonts.gstatic.com/s/robotodraft/v1/er-TIW55l9KWsTS1x9bTftkZXW4sYc4BjuAIFc1SXII.woff) format('woff'); }

@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 700;
  src: local('RobotoDraft Bold Italic'), local('RobotoDraft-BoldItalic'), url(//fonts.gstatic.com/s/robotodraft/v1/5SAvdU0uYYlH8OURAykt5wRV2F9RPTaqyJ4QibDfkzM.woff) format('woff');
}